{% extends 'base.html' %}
{% block body %}
{% load static %}
{% comment %} {% for l in likes %}
{{l.Name}}
{{l.Location}}
{{l.Date}}
{{l.Time}} {% endcomment %}
<div style="background-color: #222222; height: 10vh;"></div>
<Label class="like-label">Likes</Label>
{% for e in events %}
<div class="col-xs-12 col-md-6 col-lg-4 my-3" style="margin-left:10%;margin-right:90%;">
    <div class="about-item" style="display:flex;">
      <img class="img-fluid" style="max-width:50%;" src="media/{{e.Image}}" alt="">
      <div class="about-text">
        <div class="d-flex justify-content-between" style="align-items:flex-end;">
          <h3><a href="#">{{e.Name}}</a></h3>
          {% if e.Is_Liked %}
          <i class="fas fa-heart icon" data-color="{{e.Is_Liked}}" data-id="{{e.id}}"
            onclick="updatelike(this)"></i>
          {% else %}
          <i class="far fa-heart icon" data-color="{{e.Is_Liked}}" data-id="{{e.id}}"
            onclick="updatelike(this)"></i>
          {% endif %}
        </div>
        <Lable>Location: <span>{{e.Location}}</span></Label>
          <div>
            <Label>Date-Time: <span>{{e.Date}}, {{e.Time}}</span></Label>
          </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock body %}